*{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    padding: 0%;

}

body{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-color: #E2410A;

}

#one{
    width: 10rem;
    height: 10rem;
    background-color: #F4C253;
    position: fixed;
    right: -5rem;
    top: -8rem ;
    filter: blur(9rem);
    opacity: 50%;
}

#two{
    width: 10rem;
    height: 10rem;
    background-color: #F4C253;
    position: fixed;
    left: -2rem;
    bottom:-2rem ;
    filter: blur(8rem);
    opacity: 50%;
}

.bg{
    position: fixed;
    position: relative;
    height:100%;
    width:75vw;
    min-width: 20rem;
    background-color: #FFFFFF;
}

.boxcover{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width:75vw;
    min-width: 20rem;
    justify-content: center;
    text-align: center;


}


h1{
    margin-top: 7rem;
    font-weight: 600;
    font-size: 34px;

}

.message1{
    margin-bottom: 3rem;
}

.message2{
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.btn{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    width: 400px;
    height: 55px;
    background-color: #2D4863;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    padding:0;   
    margin-bottom: 8rem; 
}

.btn:hover{
    background-color:#333333;
}
